@model IEnumerable<Models.Database.LoaiNguoiDung>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">DANH SÁCH LOẠI NGƯỜI DÙNG</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <!-- Search form -->
        <div class="row">
            <!-------------------------------------------------------- INSERT ---------------------------------------------------------->
            <div class="col-lg-1">
                <button class="btn btn-primary" data-toggle="modal" data-target="#themModal">Thêm</button>
            </div>
            <!-------------------------------------------------------- SEARCH CATEGORY ---------------------------------------------------------->
            <div class="col-lg-2">
                <div class="form-group">
                    <select class="form-control" id="sortList" onchange="window.location.href = SearchAndSort()">
                        <option selected disabled>Sắp xếp theo</option>
                        <option value="/Webmaster/LoaiNguoiDung/Sort?sortorder=tendangnhap-az">Tên loại người dùng (A-Z)</option>
                        <option value="/Webmaster/LoaiNguoiDung/Sort?sortorder=tendangnhap-za">Tên loại người dùng (Z-A)</option>
                        <option value="/Webmaster/LoaiNguoiDung/Sort?sortorder=ten-az">Tên (A-Z)</option>
                        <option value="/Webmaster/LoaiNguoiDung/Sort?sortorder=ten-za">Tên (Z-A)</option>
                    </select>
                </div>
            </div>
            <!-------------------------------------------------------- SEARCH BAR ---------------------------------------------------------->
            <div class="col-lg-3">
                <form asp-controller="LoaiNguoiDung" asp-action="Search" method="get">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" id="searchList" placeholder="Tìm kiếm..." name="search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                </form>
            </div>
            <!-------------------------------------------------------- MAIN TABLE ---------------------------------------------------------->
        </div>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead class="thead-dark">
                <tr>
                    <th>Mã Loại Người Dùng</th>
                    <th>Tên Loại Người Dùng</th>
                    <th>Tình Trạng</th>
                    <th>Chức Năng</th>
                </tr>
            </thead>
            <tbody class="body-content">
                @foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td class="item-maloaingoidung">@item.MaLoaiNguoiDung</td>
                        <td class="item-tenloaingoidung">@item.TenLoaiNguoiDung</td>
                        <td class="item-tenloaingoidung">@item.TinhTrang</td>
                        <td>
                            @if (item.TinhTrang == "Không khoá")
                            {
                                <button class="btn btn-primary btnSuaLoaiNguoiDung" type="button" data-toggle="modal" data-target="#suaModal">Sửa</button>

                                <a asp-controller="LoaiNguoiDung" asp-action="LockLoaiNguoiDung" asp-route-maloainguoidung="@item.MaLoaiNguoiDung" class="btn btn-danger">Khoá</a>
                            }
                            else
                            {
                                <button class="btn btn-primary  btnSuaLoaiNguoiDung" type="button" data-toggle="modal" data-target="#suaModal" disabled>Sửa</button>

                                <a asp-controller="LoaiNguoiDung" asp-action="UnlockLoaiNguoiDung" asp-route-maloainguoidung="@item.MaLoaiNguoiDung" class="btn btn-danger">Mở khoá</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- /.table-responsive -->
        <ul class="pagination" style="margin: 0 auto;">
            @if (ViewBag.TrangHienTai == 1)
            {
                <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#">Trước</a></li>
            }
            else
            {
                <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                    @switch (ViewBag.TrangThai)
                    {
                        case "index":
                            <a asp-controller="TaiKhoan" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" class="pageNumber">Trước</a>
                            break;
                        case "sort":
                            <a asp-controller="TaiKhoan" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" class="pageNumber">Trước</a>
                            break;
                        case "search":
                            <a asp-controller="TaiKhoan" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" class="pageNumber">Trước</a>
                            break;
                        case "searchandsort":
                            <a asp-controller="TaiKhoan" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" class="pageNumber">Trước</a>
                            break;
                    }
                </li>
            }
            @for (int i = 1; i <= ViewBag.TongTrang; i++)
            {
                if (i > 5)
                {
                    <li class="paginate_button" aria-controls="dataTables-example" tabindex="0"><a href="#">...</a></li>
                    <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                        @switch (ViewBag.TrangThai)
                        {
                            case "index":
                                <a asp-controller="TaiKhoan" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                break;
                            case "sort":
                                <a asp-controller="TaiKhoan" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                break;
                            case "search":
                                <a asp-controller="TaiKhoan" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                break;
                            case "searchandsort":
                                <a asp-controller="TaiKhoan" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                break;
                        }
                    </li>
                    break;
                }
                else
                {
                    if (i == ViewBag.TrangHienTai)
                    {
                        <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">@i</a></li>
                    }
                    else
                    {
                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                            @switch (ViewBag.TrangThai)
                            {
                                case "index":
                                    <a asp-controller="TaiKhoan" asp-action="Index" asp-route-pagenumber="@i" class="pageNumber">@i</a>
                                    break;
                                case "sort":
                                    <a asp-controller="TaiKhoan" asp-action="Sort" asp-route-pagenumber="@i" class="pageNumber">@i</a>
                                    break;
                                case "search":
                                    <a asp-controller="TaiKhoan" asp-action="Search" asp-route-pagenumber="@i" class="pageNumber">@i</a>
                                    break;
                                case "searchandsort":
                                    <a asp-controller="TaiKhoan" asp-action="SearchAndSort" asp-route-pagenumber="@i" class="pageNumber">@i</a>
                                    break;
                            }
                        </li>
                    }
                }
            }
            @if (ViewBag.TrangHienTai == ViewBag.TongTrang)
            {
                <li class="paginate_button next disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Tiếp</a></li>
            }
            else
            {
                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                    @switch (ViewBag.TrangThai)
                    {
                        case "index":
                            <a asp-controller="TaiKhoan" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" class="pageNumber">Tiếp</a>
                            break;
                        case "sort":
                            <a asp-controller="TaiKhoan" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" class="pageNumber">Tiếp</a>
                            break;
                        case "search":
                            <a asp-controller="TaiKhoan" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" class="pageNumber">Tiếp</a>
                            break;
                        case "searchandsort":
                            <a asp-controller="TaiKhoan" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" class="pageNumber">Tiếp</a>
                            break;
                    }
                </li>
            }
        </ul>
    </div>
</div>
<!-- /.panel-body -->
<!-------------------------------------------------------- INSERT MODAL ---------------------------------------------------------->

<div class="modal fade" id="themModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form asp-controller="LoaiNguoiDung" asp-action="CreateLoaiNguoiDung" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Loại Người Dùng</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã Loại Người Dùng</label>
                        <input type="text" class="form-control" id="item-them-tendangnhap" name="item_them_maloainguoidung" required>
                    </div>
                    <div class="form-group">
                        <label>Tên Loại Người Dùng</label>
                        <input type="text" class="form-control" id="item-them-matkhau" name="item_them_tenloainguoidung" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" id="btnThemTaiKhoan">Thêm</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-------------------------------------------------------- UPDATE MODAL ---------------------------------------------------------->
<div class="modal fade" id="suaModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form asp-controller="LoaiNguoiDung" asp-action="EditLoaiNguoiDung" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Loại Người Dùng</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã loại người dùng</label>
                        <input type="text" class="form-control" id="item-sua-maloainguoidung" name="item_sua_maloainguoidung" >
                    </div>
                    <div class="form-group">
                        <label>Tên loại người dùng</label>
                        <input type="text" class="form-control" id="item-sua-tenloainguoidung" name="item_sua_tenloainguoidung">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Sửa</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.ThongBao != null)
{
    <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
    </script>
}


<script>
    $(".btnSuaLoaiNguoiDung").click(function () {
        let maloainguoidung = $(this).closest('tr').find('.item-maloainguoidung').text();
        let tenloainguoidung = $(this).closest('tr').find('.item-tenloainguoidung').text();
        $("#item-sua-maloainguoidung").val(maloainguoidung.trim());
        $("#item-sua-tenloainguoidung").val(tenloainguoidung.trim());

    });

    $(".pageNumber").click(function () {
        //Get addtional href
        let sort = $("#sortList").val();
        let search = "@ViewBag.Search";
        //Href
        var $link = $('.pageNumber');
        var href = $link.attr('href').split('/');
        if (sort != null && sort != '') {
            sort = sort.substring(sort.lastIndexOf('=') + 1, sort.length);
            href.push('&sortorder=' + sort); //here you set your new asp-route-pagenumber value
        }
        if (search != null && search != '') {
            href.push('&search=' + search); //here you set your new asp-route-pagenumber value
        }
        href = href.join('/');
        href = href.toString().replace(/\/&/g, '&');
        $link.attr('href', href);
    });
</script>