@model IEnumerable<Models.Database.GioHang>

@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>SNKRX - Thanh Toán</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link href="~/maintemplate/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/maintemplate/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/maintemplate/css/font-awesome.css" rel="stylesheet">
    <link href="~/maintemplate/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />

    <link href="~/maintemplate/css/fix.css" rel='stylesheet' rel="stylesheet" type='text/css' />
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    <link href="~/css/custom.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid bg_header_knb">
        <div class="container">
            <div class="icon_header_knb">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <div class="logo_header_knb">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                    <h4><span>Trang Chủ</span></h4>
                </a>
                <a href="#">
                    <i class="fa fa-angle-right"></i>
                    <h4>Thanh Toán</h4>
                </a>
            </div>
            <div class="user_merchant">
                <ul>
                    @*<a href="#">*@
                    <li><i class="fa fa-user"></i></li>
                    <li>@ViewBag.TaiKhoan.TenDangNhap</li>
                    @*</a>*@
                    <li class="gach_khoangcach">|</li>
                    <a asp-area="Customer" asp-controller="Authentication" asp-action="LogOut">
                        <li><i class="fa fa-sign-out"></i></li>
                        <li>Đăng Xuất</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg_giohang">
        <div class="container">
            <div class="thanhtoan">
                <div class="icon_diachi">
                    <i class="fa fa-map-marker"></i>
                    <h4>Địa chỉ nhận hàng</h4>
                </div>
                <div class="content_diachi" id="partialDiaChi">
                    <!--Đây sử dụng partial view pDiaChi-->
                    <input type="text" value="@ViewBag.FirstAddress.Id" id="txtIdDiaChi" readonly hidden/>
                    <h4><b>@ViewBag.TaiKhoan.Ten (@ViewBag.TaiKhoan.DienThoai) </b>@ViewBag.FirstAddress.Duong, @ViewBag.FirstAddress.IdTinhThanhNavigation.TenTinhThanh</h4>
                    <a href="#" data-toggle="modal" data-target="#addressModal">Thay Đổi</a>
                </div>
            </div>
            <div class="thanhtoan form_sp_thanhtoan">
                <div class="sanpham_giohang sp_thanhtoan">
                    <h5>Sản Phẩm</h5>
                </div>
                <div class="dongia_giohang dg_thanhtoan">
                    <h5>Đơn Giá</h5>
                </div>
                <div class="soluong_giohang gh_thanhtoan">
                    <h5>Số Lượng</h5>
                </div>
                <div class="thanhtien_giohang tt_thanhtoan">
                    <h5>Thành Tiền</h5>
                </div>
            </div>
            @{

                string idtaikhoan = "";
            }
            @foreach (var item in Model)
            {
                string idtaikhoantemp = item.IdSizeSanPhamNavigation.IdSanPhamNavigation.IdTaiKhoan.ToString();
                @if (idtaikhoantemp != idtaikhoan)
                {
                    <br />
                    <div class="cart_theoshop">
                        <div class="cart_theoshop_header form_sp_thanhtoan">
                            <div class="sanpham_giohang sp_thanhtoan">
                                <a href="#">
                                    <i class="fa fa-bank"></i>
                                    <h5>@item.IdSizeSanPhamNavigation.IdSanPhamNavigation.IdTaiKhoanNavigation.TenShop</h5>
                                </a>
                            </div>
                        </div>
                    </div>

                    idtaikhoan = idtaikhoantemp;
                }

                <div class="cart_theoshop_item">
                    <div class="sanpham_giohang sp_thanhtoan">
                        <div class="hinh_sanpham_giohang" style="background-image:url(/Hinh/SanPham/@item.IdSizeSanPhamNavigation.IdSanPhamNavigation.Hinh);"></div>
                        <div class="form_ten_sp_giohang">
                            <h5>
                                <a asp-area="Customer" asp-controller="SanPham" asp-action="Index" asp-route-id="@item.IdSizeSanPhamNavigation.IdSanPham" class="ten_sp_giohang">@item.IdSizeSanPhamNavigation.IdSanPhamNavigation.TenSanPham</a>
                            </h5>
                        </div>
                    </div>
                    <div class="dongia_giohang dg_thanhtoan">
                        @if (item.IdSizeSanPhamNavigation.IdSanPhamNavigation.GiamGia != null && item.IdSizeSanPhamNavigation.IdSanPhamNavigation.GiamGia != 0)
                        {
                            double gia = item.IdSizeSanPhamNavigation.IdSanPhamNavigation.Gia * (100 - item.IdSizeSanPhamNavigation.IdSanPhamNavigation.GiamGia) / 100 ?? 0;
                            <h5><del>@item.IdSizeSanPhamNavigation.IdSanPhamNavigation.Gia.Value.ToString("#,###") đ</del> @gia.ToString("#,###") đ</h5>
                        }
                        else
                        {
                            <h5>@item.IdSizeSanPhamNavigation.IdSanPhamNavigation.Gia.Value.ToString("#,###") đ</h5>
                        }
                    </div>
                    <div class="soluong_giohang sl_thanhtoan">
                        <div class="tang_soluong">
                            <h5>@item.SoLuong</h5>
                        </div>
                    </div>
                    <div class="thanhtien_giohang tt_thanhtoan">
                        @if (item.IdSizeSanPhamNavigation.IdSanPhamNavigation.GiamGia != null && item.IdSizeSanPhamNavigation.IdSanPhamNavigation.GiamGia != 0)
                        {
                            double gia = item.IdSizeSanPhamNavigation.IdSanPhamNavigation.Gia * (100 - item.IdSizeSanPhamNavigation.IdSanPhamNavigation.GiamGia) / 100 ?? 0;
                            double tong = gia * (item.SoLuong ?? 0);
                            <h5>@tong.ToString("#,###") đ</h5>
                        }
                        else
                        {
                            double tong = (item.IdSizeSanPhamNavigation.IdSanPhamNavigation.Gia ?? 0) * (item.SoLuong ?? 0);
                            <h5>@tong.ToString("#,###") đ</h5>
                        }
                    </div>
                </div>
            }

            <div class="form_chuthich">
                <div class="form_15_30">
                    <div class="loi_nhan">
                        <h5>Lời nhắn: </h5>
                        <input type="text" placeholder="Để lại lời nhắn cho người bán...">
                    </div>
                    <div class="txt_thanh_toan">
                        <h5>Phương thức thanh toán: </h5>
                    </div>
                    <div class="phuong_thuc_thanh_toan">
                        <label class="radio_pt_tt">
                            Thanh toán khi nhận hàng
                            <input type="radio" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio_pt_tt">
                            Paypal (đang phát triển)
                            <input type="radio" disabled="disabled">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form_chuthich">
                <div class="form_padding_15_30">
                    <div class="tong_tienhang">
                        <div class="txt_dathang">
                            <p>Tổng tiền hàng</p>
                        </div>
                        <div class="gia_dathang">
                            <p id="txtTienDatHang">₫300.000</p>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="tong_tienhang" id="partialPhiShip">
                        <!--Partial View ở đây-->
                    </div>
                    <br />
                    <hr />
                    <div class="tong_tienhang">
                        <div class="txt_dathang">
                            <p>Tổng thanh toán</p>
                        </div>
                        <div class="gia_dathang">
                            <p class="gia_tong" id="txtTongTienThanhToan">₫350.000</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form_15_30">
                    <div class="button-dathang">
                        <button class="btn-muahang" id="btnDatHang">Đặt Hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addressModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Danh sách địa chỉ</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="center-text-td">Đường</th>
                                <th class="center-text-td">Tỉnh thành</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in ViewBag.ListAddress)
                            {
                                <tr>
                                    <td class="item-duong">
                                        <input type="text" value="@item.Id" readonly hidden class="item-idduong"/>
                                        @item.Duong
                                    </td>
                                    <td class="item-tinhthanh">@item.IdTinhThanhNavigation.TenTinhThanh</td>
                                    <td class="center-text-td">
                                        <button class="btn btn-primary btnChonDiaChiMoi">Chọn</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/maintemplate/js/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    function GetTongTienHang() {
        let totalPrice = 0;
        let row = 0;
        $(".thanhtien_giohang h5").each(function () {
            if (row == 0) {
                row++;
            }
            else {
                let pricetext = $(this).text().trim();
                pricetext = pricetext.replace(/\,/g, '');
                pricetext = pricetext.substring(0, pricetext.indexOf(' '));

                let price = parseFloat(pricetext);
                totalPrice += price;
            }
        });

        $("#txtTienDatHang").text(totalPrice.toLocaleString('en-EN') + ' đ');
    }

    function GetPhiShip(id) {
        let tendangnhap = "@Context.Session.GetString("TenDangNhap")";
        let iddiachi = id;
        $.ajax({
            url: "/Customer/DonHang/GetPhiShip",
            type: "post",
            data: { "tendangnhap": tendangnhap, "iddiachi": iddiachi },
            success: function (data) {
                $("#partialPhiShip").html(data);
            },
            error: function (data) {
                alert("Error: " + data);
            },
            async: false
            //Nhớ xài async hoặc dùng 1 request chứa tất cả dữ liệu, k là bị DDoS
        });
    }

    function GetDiaChi(id) {
        let tendangnhap = "@Context.Session.GetString("TenDangNhap")";
        let iddiachi = id;
        $.ajax({
            url: "/Customer/DonHang/GetDiaChi",
            type: "post",
            data: { "tendangnhap": tendangnhap, "iddiachi": iddiachi },
            success: function (data) {
                $("#partialDiaChi").html(data);
            },
            error: function (data) {
                alert("Error: " + data);
            },
            async: false
            //Nhớ xài async hoặc dùng 1 request chứa tất cả dữ liệu, k là bị DDoS
        });
    }

    function GetTongPhiShip() {
        let totalPrice = 0;
        $(".item-tienship").each(function () {
            let pricetext = $(this).text();
            pricetext = pricetext.replace(/\,/g, '');
            pricetext = pricetext.substring(0, pricetext.indexOf(' '));

            let price = parseFloat(pricetext);
            totalPrice += price;
        });
        
        let pricetext = $("#txtTienDatHang").text();
        pricetext = pricetext.replace(/\,/g, '');
        pricetext = pricetext.substring(0, pricetext.indexOf(' '));

        let price = parseFloat(pricetext);
        totalPrice += price;

        $("#txtTongTienThanhToan").text(totalPrice.toLocaleString('en-EN') + ' đ');
    }

    function CreateDonDatHang() {
        let pricetext = $("#txtTongTienThanhToan").text();
        pricetext = pricetext.replace(/\,/g, '');
        pricetext = pricetext.substring(0, pricetext.indexOf(' '));
        
        let tendangnhap = "@Context.Session.GetString("TenDangNhap")";
        let iddiachi = $("#txtIdDiaChi").val();
        let tongtien = parseFloat(pricetext);

        console.log(tendangnhap);
        console.log(iddiachi);
        console.log(tongtien);

        $.ajax({
            url: "/Customer/DonHang/CreateDonDatHang",
            type: "post",
            data: { "tendangnhap": tendangnhap, "iddiachi": iddiachi, "tongtien": tongtien },
            success: function (data) {
                window.location.href = "@Url.Action("Index", "Home")";
            },
            error: function (data) {
                alert("Error: " + data);
            },
            async: false
            //Nhớ xài async hoặc dùng 1 request chứa tất cả dữ liệu, k là bị DDoS
        });
    }
</script>

<script>
    $(document).ready(function(){
        let tendangnhap = "@Context.Session.GetString("TenDangNhap")";
        if(tendangnhap == null || tendangnhap == "") {
            window.location.href = "@Url.Action("Index", "Home")";
        }

        let iddiachi = $("#txtIdDiaChi").val();
        GetPhiShip(iddiachi);
        GetTongTienHang();
        GetTongPhiShip();
    });

    $(".btnChonDiaChiMoi").click(function () {
        let iddiachi = $(this).closest('tr').find('.item-idduong').val();
        GetDiaChi(iddiachi);
        $("#addressModal").modal('toggle');
        GetPhiShip(iddiachi);
        GetTongPhiShip();
        //console.log(iddiachi);
    });

    $("#btnDatHang").click(function () {
        let tendangnhap = "@Context.Session.GetString("TenDangNhap")";
        $.ajax({
            url: "/Customer/DonHang/CheckDonHang",
            type: "post",
            data: { "tendangnhap": tendangnhap },
            success: function (data) {
                if (data == "Đặt hàng thành công") {
                    alert(data);
                    CreateDonDatHang();
                }
                else {
                    alert(data);
                }
            },
            error: function (data) {
                alert("Error: " + data);
            },
            async: false
            //Nhớ xài async hoặc dùng 1 request chứa tất cả dữ liệu, k là bị DDoS
        });
    });
</script>