@model IEnumerable<Models.Database.HangSanPham>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">DANH SÁCH HÃNG SẢN PHẨM</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <!-- Search form -->
        <div class="row">
            <div class="col-lg-1">
                <button class="btn btn-primary btnThem" data-toggle="modal" data-target="#themModal">Thêm</button>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <select class="form-control" id="sortList" onchange="window.location.href = SearchAndSort()">
                        <option selected disabled>Sắp xếp theo</option>
                        <option value="/Webmaster/HangSanPham/Sort?sortorder=mahang-az">Mã hãng (A-Z)</option>
                        <option value="/Webmaster/HangSanPham/Sort?sortorder=mahang-za">Mã hãng (Z-A)</option>
                        <option value="/Webmaster/HangSanPham/Sort?sortorder=tenhang-az">Tên hãng (A-Z)</option>
                        <option value="/Webmaster/HangSanPham/Sort?sortorder=tenhang-za">Tên hãng (Z-A)</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-lg-3">
                <form asp-controller="HangSanPham" asp-action="Search" method="get">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" id="searchList" placeholder="Tìm kiếm..." name="search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                </form>
            </div>
        </div>
        <!--Table-->
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead class="thead-dark">
                <tr class="odd gradeX">
                    <th>Mã hãng</th>
                    <th><a asp-area="Webmaster" asp-controller="SanPham" asp-action="Sort" asp-route-sortorder="@ViewBag.NameSort" asp-route-currentFilter="@ViewBag.CurrentFilter">Tên hãng</a></th>
                    @*<th><a asp-area="Webmaster" asp-controller="SanPham" asp-action="Sort" asp-route-sortorder="@ViewBag.ShopSort" asp-route-currentFilter="@ViewBag.CurrentFilter">Tên shop</a></th>
                    <th>Màu</th>
                    <th>Hãng</th>
                    <th>Phân loại</th>
                    <th><a asp-area="Webmaster" asp-controller="SanPham" asp-action="Sort" asp-route-sortorder="@ViewBag.GiaSort" asp-route-currentFilter="@ViewBag.CurrentFilter">Giá</a></th>
                    <th>Hình</th>
                    <th>Chi tiết</th>
                    <th>Giảm giá</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody class="body-content">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="item-ma">@item.MaHang</td>
                        <td class="item-ten">@item.TenHang</td>
                        <td>
                            @switch (item.TinhTrang)
                            {
                                case "Không khoá":
                                    <button class="btn btn-danger btnSua" type="button" data-toggle="modal" data-target="#suaModal">Sửa</button>
                                    <a asp-controller="HangSanPham" asp-action="LockHang" asp-route-mahang="@item.MaHang" class="btn btn-danger">Khoá</a>
                                    break;
                                case "Khoá":
                                    <button class="btn btn-danger btnSua" type="button" data-toggle="modal" data-target="#suaModal">Sửa</button>
                                    <a asp-controller="HangSanPham" asp-action="UnlockHang" asp-route-mahang="@item.MaHang" class="btn btn-danger">Mở khoá</a>
                                    break;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <ul class="pagination" style="margin: 0 auto;">
            @if (ViewBag.TrangHienTai == 1)
            {
                <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                    <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Trước</a>
                </li>
            }
            else
            {
                <li class="paginate_button page-item previous" id="dataTable_previous">
                    @switch (ViewBag.TrangThai)
                    {
                        case "index":
                            <a asp-controller="HangSanPham" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link pageNumber">Trước</a>
                            break;
                        case "sort":
                            <a asp-controller="HangSanPham" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link pageNumber">Trước</a>
                            break;
                        case "search":
                            <a asp-controller="HangSanPham" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link pageNumber">Trước</a>
                            break;
                        case "searchandsort":
                            <a asp-controller="HangSanPham" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link pageNumber">Trước</a>
                            break;
                    }
                </li>
            }
            @for (int i = 1; i <= ViewBag.TongTrang; i++)
            {
                if (i > 5)
                {
                    <li class="paginate_button page-item" disabled><a class="page-link" aria-controls="dataTable" data-dt-idx="0" tabindex="0" href="#">...</a></li>
                    <li class="paginate_button page-item">
                        @switch (ViewBag.TrangThai)
                        {
                            case "index":
                                <a asp-controller="HangSanPham" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                break;
                            case "sort":
                                <a asp-controller="HangSanPham" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                break;
                            case "search":
                                <a asp-controller="HangSanPham" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                break;
                            case "searchandsort":
                                <a asp-controller="HangSanPham" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                break;
                        }
                    </li>
                    break;
                }
                else
                {
                    if (i == ViewBag.TrangHienTai)
                    {
                        <li class="paginate_button page-item active"><a href="#" class="page-link" aria-controls="dataTable" data-dt-idx="2" tabindex="0">@i</a></li>
                    }
                    else
                    {
                        <li class="paginate_button page-item" aria-controls="dataTables-example" tabindex="0">
                            @switch (ViewBag.TrangThai)
                            {
                                case "index":
                                    <a asp-controller="HangSanPham" asp-action="Index" asp-route-pagenumber="@i" class="page-link pageNumber" aria-controls="dataTable" data-dt-idx="3" tabindex="0">@i</a>
                                    break;
                                case "sort":
                                    <a asp-controller="HangSanPham" asp-action="Sort" asp-route-pagenumber="@i" class="page-link pageNumber" aria-controls="dataTable" data-dt-idx="3" tabindex="0">@i</a>
                                    break;
                                case "search":
                                    <a asp-controller="HangSanPham" asp-action="Search" asp-route-pagenumber="@i" class="page-link pageNumber" aria-controls="dataTable" data-dt-idx="3" tabindex="0">@i</a>
                                    break;
                                case "searchandsort":
                                    <a asp-controller="HangSanPham" asp-action="SearchAndSort" asp-route-pagenumber="@i" class="page-link pageNumber" aria-controls="dataTable" data-dt-idx="3" tabindex="0">@i</a>
                                    break;
                            }
                        </li>
                    }
                }
            }
            @if (ViewBag.TrangHienTai == ViewBag.TongTrang)
            {
                <li class="paginate_button page-item next disabled" id="dataTable_next"><a class="page-link" aria-controls="dataTable" data-dt-idx="7" tabindex="0" href="#">Tiếp</a></li>
            }
            else
            {
                <li class="paginate_button page-item next" id="dataTable_next">
                    @switch (ViewBag.TrangThai)
                    {
                        case "index":
                            <a asp-controller="HangSanPham" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link pageNumber">Tiếp</a>
                            break;
                        case "sort":
                            <a asp-controller="HangSanPham" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link pageNumber">Tiếp</a>
                            break;
                        case "search":
                            <a asp-controller="HangSanPham" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link pageNumber">Tiếp</a>
                            break;
                        case "searchandsort":
                            <a asp-controller="HangSanPham" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link pageNumber">Tiếp</a>
                            break;
                    }
                </li>
            }
        </ul>
        @*<ul class="pagination" style="margin: 0 auto;">
            @if (ViewBag.TrangHienTai == 1)
            {
                <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                </li>
                <a asp-page="./Index"
                   asp-route-sortorder="@ViewBag.CurrentSort"
                   asp-route-pageIndex="@Html.Raw(ViewBag.TrangHienTai - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   class="btn btn-default disabled">
                    Previous
                </a>
                <a asp-page="./Index"
                   asp-route-sortorder="@ViewBag.CurrentSort"
                   asp-route-pageIndex="@Html.Raw(ViewBag.TrangHienTai + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   class="btn btn-default">
                    Next
                </a>
            }
            else if (ViewBag.TrangHienTai == ViewBag.TongTrang)
            {
                <a asp-page="./Index"
                   asp-route-sortorder="@ViewBag.CurrentSort"
                   asp-route-pageIndex="@Html.Raw(ViewBag.TrangHienTai - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   class="btn btn-default">
                    Previous
                </a>
                <a asp-page="./Index"
                   asp-route-sortorder="@ViewBag.CurrentSort"
                   asp-route-pageIndex="@Html.Raw(ViewBag.TrangHienTai + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   class="btn btn-default disabled">
                    Next
                </a>
            }
            else
            {
                <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                </li>
                <a asp-page="./Index"
                   asp-route-sortorder="@ViewBag.CurrentSort"
                   asp-route-pageIndex="@Html.Raw(ViewBag.TrangHienTai - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   class="btn btn-default">
                    Previous
                </a>
                <a asp-page="./Index"
                   asp-route-sortorder="@ViewBag.CurrentSort"
                   asp-route-pageIndex="@Html.Raw(ViewBag.TrangHienTai + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   class="btn btn-default disabled">
                    Next
                </a>
            }
        </ul>*@

    </div>
</div>
<div class="modal fade" id="themModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form asp-controller="HangSanPham" asp-action="ThemHangSanPham" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Hãng sản phẩm</h4>
                </div>
                <div class="modal-body">
                    @*<div class="form-group">
                            <label>Mã hãng</label>
                            <input type="text" class="form-control" id="item-them-mahang" name="item_them_mahang" required>
                        </div>*@
                    <div class="form-group">
                        <label>Tên hãng</label>
                        <input type="text" class="form-control" id="item-them-ten" name="item_them_ten" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" id="btnThemHangSp">Thêm</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="suaModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form asp-controller="HangSanPham" asp-action="SuaHangSanPham" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Hãng sản phẩm</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã hãng</label>
                        <input type="text" class="form-control" id="item-sua-ma" name="item_sua_ma" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tên hãng</label>
                        <input type="text" class="form-control" id="item-sua-ten" name="item_sua_ten">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Sửa</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>
</div>
@if (ViewBag.ThongBao != null)
{
    <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
    </script>
}
<script>
    $(document).ready(function () {
        //Sắp xếp
        let sort = "@ViewBag.Sort";
        if (sort != '') {
            $("#sortList option").each(function () {
                if ($(this).val().includes(sort)) {
                    $(this).attr('selected', 'selected');
                    return;
                }
            });
        }
    });

    function SearchAndSort() {
        let search = "@ViewBag.Search";
        if (search == null || search == '') {
            return $("#sortList").val();
        }
        else {
            let href = $("#sortList").val();
            href = href.replace("Sort", "SearchAndSort");
            href = href + (`&search=${search}`)
            return href;
        }
    }

    $(".pageNumber").click(function () {
        //Get addtional href
        let sort = $("#sortList").val();
        let search = "@ViewBag.Search";
        //Href
        var $link = $('.pageNumber');
        var href = $link.attr('href').split('/');
        if (sort != null && sort != '') {
            sort = sort.substring(sort.lastIndexOf('=') + 1, sort.length);
            href.push('&sortorder=' + sort); //here you set your new asp-route-pagenumber value
        }
        if (search != null && search != '') {
            href.push('&search=' + search); //here you set your new asp-route-pagenumber value
        }
        href = href.join('/');
        href = href.toString().replace(/\/&/g, '&');
        $link.attr('href', href);
    });

    $(document).ready(function () {
        $(".btnSua").click(function () {
            let pId = $(this).closest('tr').find('.item-ma').text();
            let pTen = $(this).closest('tr').find('.item-ten').text();
            $("#item-sua-ma").val(pId.trim());
            $("#item-sua-ten").val(pTen.trim());
        });
    });
</script>
