@model IEnumerable<Models.Database.TinhThanh>

@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SNKRX - Kênh Người Bán</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link href="~/maintemplate/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/maintemplate/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/maintemplate/css/font-awesome.css" rel="stylesheet">
    <link href="~/maintemplate/css/easy-responsive-tabs.css" rel="stylesheet" type='text/css' />

    <link href="~/maintemplate/css/fix.css" rel="stylesheet" type='text/css' />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>

    @if (Context.Session.GetString("TenDangNhap") != null)
    {
        <script>
            location.href = "@Url.Action("Index", "QuanLy")";
        </script>
    }
</head>
<body>
    <!-- header -->
    <div class="header" id="home">
        <div class="container">
            <ul>
                <li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Đăng Nhập </a></li>
                <li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Đăng Ký </a></li>
                <li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-question" aria-hidden="true"></i> Trợ Giúp </a></li>
                <!-- <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li> -->
                <li><a asp-area="Customer" asp-controller="Home" asp-action="Index"><i class="fa fa-vcard" aria-hidden="true"></i> Trang Chủ</a></li>
            </ul>
        </div>
    </div>
    <!-- //header -->
    <!-- header-bot -->
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <!-- header-bot -->
            <div class="col-md-4 logo_agile logo_size_seller">
                <h1><span>SNKRX</span> Kênh Người Bán</h1>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Modal1 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-body-sub_agile">
                    <div class="col-md-8 modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign">Đăng Nhập <span>Kênh Người Bán</span></h3>
                        <form asp-area="Merchant" asp-controller="Authentication" asp-action="LogIn" method="post">
                            <div class="styled-input agile-styled-input-top">
                                <input type="text" name="tendangnhap" required oninvalid="this.setCustomValidity('Tên đăng nhập không được để trống')" onchange="this.setCustomValidity('')">
                                <label>Tên đăng nhập</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="password" name="matkhau" required oninvalid="this.setCustomValidity('Mật khẩu không được để trống')" onchange="this.setCustomValidity('')">
                                <label>Mật khẩu</label>
                                <span></span>
                            </div>
                            <input type="submit" value="Đăng Nhập">
                        </form>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <p><a href="#" data-toggle="modal" data-target="#myModal2"> Chưa có tài khoản đăng nhập?</a></p>
                        <p><a href="#" data-toggle="modal" data-target="#forgotModal"> Quên mật khẩu?</a></p>

                    </div>
                    <div class="col-md-4 modal_body_right modal_body_right1">
                        <img src="~/maintemplate/images/log_pic.jpg" alt=" " />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- Modal2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-margin">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-body-sub_agile">
                    <div class="col-md-8 modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign">Đăng Ký <span>Kênh Người Bán</span></h3>
                        <form asp-area="Merchant" asp-controller="TaiKhoan" asp-action="CreateTaiKhoan" method="post">
                            <div class="styled-input agile-styled-input-top">
                                <input type="text" name="tendangnhap" pattern=".{8,}" required oninvalid="this.setCustomValidity('Tên đăng nhập chứa ít nhất 8 ký tự')" onchange="this.setCustomValidity('')">
                                <label>Tên đăng nhập</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="password" name="matkhau" pattern=".{8,}" required oninvalid="this.setCustomValidity('Mật khẩu chứa ít nhất 8 ký tự')" onchange="this.setCustomValidity('')">
                                <label>Mật khẩu</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="password" name="confirmmatkhau" pattern=".{8,}" required oninvalid="this.setCustomValidity('Mật khẩu chứa ít nhất 8 ký tự')" onchange="this.setCustomValidity('')">
                                <label>Xác nhận mật khẩu</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="text" name="ten" required oninvalid="this.setCustomValidity('Họ tên không được để trống')" onchange="this.setCustomValidity('')">
                                <label>Họ và tên</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="text" name="tenshop" required oninvalid="this.setCustomValidity('Tên shop không được để trống')" onchange="this.setCustomValidity('')">
                                <label>Tên shop</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="email" name="email" required oninvalid="this.setCustomValidity('Email không được để trống')" onchange="this.setCustomValidity('')">
                                <label>Email</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="text" name="dienthoai" id="txtDienThoai" pattern=".{10,12}" required oninvalid="this.setCustomValidity('Số điện thoại không hợp lệ')" onchange="this.setCustomValidity('')">
                                <label>Số điện thoại</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="text" name="cmnd" id="txtCMND" pattern=".{9,10}" required oninvalid="this.setCustomValidity('CMND không hợp lệ')" onchange="this.setCustomValidity('')">
                                <label>Số CMND</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="text" name="diachi" id="txtDiaChi" pattern=".{6,}" required oninvalid="this.setCustomValidity('Địa chỉ chứa ít nhất 6 ký tự')" onchange="this.setCustomValidity('')">
                                <label>Địa chỉ</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <select id="cbbTinhThanh" name="tinhthanh" class="combobox-format">
                                    @foreach(var item in Model)
                                    {
                                        <option value="@item.Id">@item.TenTinhThanh</option>
                                    }
                                </select>
                                <span></span>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="chkDangKy" required oninvalid="this.setCustomValidity('Để đồng ý cần phải đồng ý với các điều khoản')" onchange="this.setCustomValidity('')"><p><a>Tôi đã đồng ý với các điều khoản khi bấm đăng ký</a></p>
                            </div>
                            <input type="submit" value="Đăng Ký">
                        </form>

                        <div class="clearfix"></div>

                    </div>
                    <div class="col-md-4 modal_body_right modal_body_right1">
                        <img src="~/maintemplate/images/log_pic.jpg" alt=" " />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>
    <!-- Modal3 (Quên mật khẩu)-->
    <div class="modal fade" id="forgotModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-body-sub_agile">
                    <div class="col-md-8 modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign">Quên mật khẩu</h3>
                        <div id="alertForgotModal" style="display: none;">
                            <p style="color: red;" id="alertContentForgotModal">Thông báo</p>
                        </div>
                        <form id="forgotForm" role="form" action="" method="post">
                            <div class="styled-input">
                                <input type="text" name="tendangnhap" id="forgotTenDangNhap" pattern=".{8,}" required oninvalid="this.setCustomValidity('Tên đăng nhập chứa ít nhất 8 ký tự')" onchange="this.setCustomValidity('')">
                                <label>Tên đăng nhập</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="email" name="email" id="forgotEmail" required oninvalid="this.setCustomValidity('Cần điền vào Email')" onchange="this.setCustomValidity('')">
                                <label>Email</label>
                                <span></span>
                            </div>
                            <input type="submit" id="btnForgotPassword" value="Đặt lại mật khẩu">
                        </form>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>

                    </div>
                    <div class="col-md-4 modal_body_right modal_body_right1">
                        <img src="~/maintemplate/images/log_pic.jpg" alt=" " />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>
    <!-- //Modal3 -->
    <!-- //footer -->
    <!-- login -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <div class="login-grids">
                        <div class="login">
                            <div class="login-bottom">
                                <h3>Sign up for free</h3>
                                <form>
                                    <div class="sign-up">
                                        <h4>Email :</h4>
                                        <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                    </div>
                                    <div class="sign-up">
                                        <h4>Password :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                    </div>
                                    <div class="sign-up">
                                        <h4>Re-type Password :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                    </div>
                                    <div class="sign-up">
                                        <input type="submit" value="REGISTER NOW">
                                    </div>

                                </form>
                            </div>
                            <div class="login-right">
                                <h3>Sign in with your account</h3>
                                <form>
                                    <div class="sign-in">
                                        <h4>Email :</h4>
                                        <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                    </div>
                                    <div class="sign-in">
                                        <h4>Password :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="single-bottom">
                                        <input type="checkbox" id="brand" value="">
                                        <label for="brand"><span></span>Remember Me.</label>
                                    </div>
                                    <div class="sign-in">
                                        <input type="submit" value="SIGNIN">
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainContainer">
        @RenderBody()
    </div>
    <!-- //login -->
    <!-- js -->
    <script type="text/javascript" src="~/maintemplate/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="~/maintemplate/js/modernizr.custom.js"></script>
    <!-- Custom-JavaScript-File-Links -->
    <!-- cart-js -->
    <script src="~/maintemplate/js/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>

    <!-- //cart-js -->
    <!-- script for responsive tabs -->
    <script src="~/maintemplate/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- //script for responsive tabs -->
    <!-- stats -->
    <script src="~/maintemplate/js/jquery.waypoints.min.js"></script>
    <script src="~/maintemplate/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/maintemplate/js/move-top.js"></script>
    <script type="text/javascript" src="~/maintemplate/js/jquery.easing.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/maintemplate/js/bootstrap.js"></script>

    <script>
        function validateNumber(e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl/cmd+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+C
                (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+X
                (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        };

        //Keydown event
        $("#txtDienThoai").keydown(validateNumber);
        $("#txtCMND").keydown(validateNumber);
    </script>
    <script>
            $("#forgotForm").submit(function (e) {
                e.preventDefault();
                let tendangnhap = $("#forgotTenDangNhap").val();
                let email = $("#forgotEmail").val();
                $.ajax({
                    url: "/Merchant/TaiKhoan/ForgotPassword",
                    type: "post",
                    data: { "tendangnhap": tendangnhap, "email": email },
                    success: function (data) {
                        $("#alertContentForgotModal").text(data);
                        $("#alertForgotModal").css('display', 'block');

                    },
                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@if (ViewBag.ThongBao != null)
{
    <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
    </script>
}