@model IEnumerable<Models.Database.DonHang>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChoLayHang";
    Layout = "~/Views/Shared/_MerchantManagementLayout.cshtml";
}

<div class="container">
    <div class="customer_quanly">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                <a asp-area="Merchant" asp-controller="DonHang" asp-action="ChoLayHang"><li style="background-color: #fc636b">Chờ lấy hàng</li></a>
                <a asp-area="Merchant" asp-controller="DonHang" asp-action="DangGiao"><li>Đang giao</li></a>
                <a asp-area="Merchant" asp-controller="DonHang" asp-action="DaGiao"> <li>Hoàn thành</li></a>
                <a asp-area="Merchant" asp-controller="DonHang" asp-action="DaHuy"><li>Đã Huỷ</li></a>
            </ul>
            <div class="resp-tabs-container">
                <!--/tab_one-->
                @foreach (var item in Model)
                {
                    <div class="tab1">
                        <div class="form_donhang">
                            <div class="ql_donhang">
                                <div class="tenshop_donhang">
                                    <div class="sanpham_giohang">
                                        <a href="#">
                                            <i class="fa fa-user"></i>
                                            <h5>@item.IdTaiKhoanNavigation.TenDangNhap</h5>
                                        </a>
                                    </div>
                                    <div class="trangthai_donhang id_donhang">
                                        ID: @item.Id
                                    </div>
                                    <div class="trangthai_donhang id_donhang">Ngày đặt: @item.NgayTao</div>
                                </div>
                                <hr>
                                @{ 
                                    double tongtienhang = 0;
                                }
                                @foreach (var ct in ViewBag.ChiTiet)
                                {
                                    @if (ct.IdDonHangNavigation.MaDonHang == item.MaDonHang)
                                    {
                                        tongtienhang += ct.DonGia * ct.SoLuong;

                                        <div class="thongtin_donhang">
                                            <div class="sanpham_giohang sp_donhang">
                                                <div class="hinh_sanpham_giohang hinh_donhang" style="background-image:url(/Hinh/SanPham/@ct.IdSizeSanPhamNavigation.IdSanPhamNavigation.Hinh);"></div>
                                                <div class="form_ten_sp_giohang ten_sp_donban">
                                                    <h5>
                                                        @ct.IdSizeSanPhamNavigation.IdSanPhamNavigation.TenSanPham
                                                    </h5>
                                                </div>
                                                <div class="soluong_donban">
                                                    <h5>x @ct.SoLuong</h5>
                                                </div>
                                                <div class="donban_right">
                                                    <div class="tongtien_donban">
                                                        đ @ct.DonGia
                                                        <h6>Thanh toán khi nhận hàng</h6>
                                                    </div>
                                                    <div class="trangthai_donban">
                                                        Chờ lấy hàng
                                                        <h6>Để tránh việc giao hàng trễ,vui lòng giao hàng trước ngày mai.</h6>
                                                    </div>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <hr>
                                <div class="chuthich_donban">
                                    <div class="chuthich_giaohang">
                                        <div class="button_donban row">
                                            <a asp-controller="DonHang" asp-action="GetChiTiet" asp-route-id="@item.Id" class="btn btn-danger btnChiTiet">Chi tiết</a>
                                            <a asp-controller="DonHang" asp-action="Huy" asp-route-iddonhang="@item.Id" class="btn btn-danger">Huỷ đơn</a>
                                            <div class="donban_right col-lg-2">
                                                @tongtienhang.ToString("#,###") đ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*<script>
    $(".btnChiTiet").click(function () {
        let id = $(this).closest(".tenshop_donhang").find(".trangthai_donhang id_donhang").val();
        $.ajax({
            url: "/Merchant/DonHang/GetChiTiet",
            type: "post",
            data: { "id": id },
            success: function (data) {
                $("#modal-body-suachitiet").html(data);
            },
            error: function (data) {
                alert("Error: " + data);
            }
        });
    });
</script>*@
