@model IEnumerable<Models.Database.GoiQuangCao>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 class="page-header">DANH SÁCH GÓI QUẢNG CÁO</h1>
<hr>

<div class="panel panel-default">
    <div class="panel-body">
        <!-- Search form -->
        <div class="row">
            <!-------------------------------------------------------- INSERT ---------------------------------------------------------->
            <div class="col-lg-1">
                <button class="btn btn-primary" data-toggle="modal" data-target="#themModal">Thêm</button>
            </div>
            <!-------------------------------------------------------- SEARCH CATEGORY ---------------------------------------------------------->
            <div class="col-lg-2">
                <div class="form-group">
                    <select class="form-control" id="sortList" onchange="window.location.href = SearchAndSort()">
                        <option selected disabled>Sắp xếp theo</option>
                        <option value="/Webmaster/GoiQuangCao/Sort?sortorder=tenvitri-az">Tên vị trí (A-Z)</option>
                        <option value="/Webmaster/GoiQuangCao/Sort?sortorder=tenvitri-za">Tên vị trí (Z-A)</option>
                        <option value="/Webmaster/GoiQuangCao/Sort?sortorder=gia-asc">Tổng tiền thấp</option>
                        <option value="/Webmaster/GoiQuangCao/Sort?sortorder=gia-desc">Tổng tiền cao</option>
                    </select>
                </div>
            </div>
            <!-------------------------------------------------------- SEARCH BAR ---------------------------------------------------------->
            <div class="col-lg-3">
                <form asp-controller="GoiQuangCao" asp-action="Search" method="get">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" id="searchList" placeholder="Tìm kiếm..." name="search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                </form>
            </div>

            <!-------------------------------------------------------- MAIN TABLE ---------------------------------------------------------->
        </div>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead class="thead-dark">
                <tr>
                    <th>Mã</th>
                    <th>Tên Vị Trí</th>
                    <th>Thời Lượng (Tuần)</th>
                    <th>Tổng Tiền</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody class="body-content">
                @foreach (var item in Model)
                {
                <tr class="odd gradeX">
                    <td class="item-ma">@item.MaGoiQuangCao</td>
                    <td class="item-vitriquangcao">@item.IdViTriNavigation.TenViTri</td>
                    <td class="item-thoiluong">@item.ThoiLuong</td>
                    <td class="item-tongtien">@item.TongTien</td>
                    <td>
                        @if (item.TinhTrang == "Không khoá")
                        {
                            <button class="btn btn-primary btnSuaGoi" type="button" data-toggle="modal" data-target="#suaModal">Sửa</button>

                            <a asp-controller="GoiQuangCao" asp-action="LockGoiQuangCao" asp-route-magoi="@item.MaGoiQuangCao" class="btn btn-danger">Khoá</a>
                        }
                        else
                        {
                            <button class="btn btn-primary  btnSuaGoi" type="button" data-toggle="modal" data-target="#suaModal" disabled>Sửa</button>

                            <a asp-controller="GoiQuangCao" asp-action="UnlockGoiQuangCao" asp-route-magoi="@item.MaGoiQuangCao" class="btn btn-danger">Mở khoá</a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <!-- /.table-responsive -->
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination">
                    @if (ViewBag.TrangHienTai == 1)
                    {
                        <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                            <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Trước</a>
                        </li>
                    }
                    else
                    {

                        <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                            @switch (ViewBag.TrangThai)
                            {
                                case "index":
                                    <a asp-controller="GoiQuangCao" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" class="pageNumber">Trước</a>
                                    break;
                                case "sort":
                                    <a asp-controller="GoiQuangCao" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" class="pageNumber">Trước</a>
                                    break;
                                case "search":
                                    <a asp-controller="GoiQuangCao" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" class="pageNumber">Trước</a>
                                    break;
                                case "searchandsort":
                                    <a asp-controller="GoiQuangCao" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" class="pageNumber">Trước</a>
                                    break;
                            }
                        </li>
                    }
                    @* Page number *@
                    @for (int i = 1; i <= ViewBag.TongTrang; i++)
                    {
                        if (i > 5)
                        {
                            @*<li class="paginate_button" aria-controls="dataTables-example" tabindex="0"><a href="#">...</a></li>
                                <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">*@

                            <li class="paginate_button page-item active"> <a href="#" aria-controls="dataTable" tabindex="0" class="page-link">...</a> </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="dataTable" tabindex="0" class="page-link">

                                    @switch (ViewBag.TrangThai)
                                    {
                                        case "index":
                                            <a asp-controller="GoiQuangCao" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                            break;
                                        case "sort":
                                            <a asp-controller="GoiQuangCao" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                            break;
                                        case "search":
                                            <a asp-controller="GoiQuangCao" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                            break;
                                        case "searchandsort":
                                            <a asp-controller="GoiQuangCao" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                            break;
                                    }
                            </li>
                            break;
                        }
                        else
                        {
                            if (i == ViewBag.TrangHienTai)
                            {

                                @*<li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">@i</a></li>*@
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="@i" tabindex="0" class="page-link">@i</a>
                                </li>
                            }
                            else
                            {
                                @*<li class="paginate_button" aria-controls="dataTables-example" tabindex="0">*@
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="@i" tabindex="0" class="page-link">@i</a>
                                    @switch (ViewBag.TrangThai)
                                    {
                                        case "index":
                                            <a asp-controller="GoiQuangCao" asp-action="Index" asp-route-pagenumber="@i" class="pageNumber">@i</a>
                                            break;
                                        case "sort":
                                            <a asp-controller="GoiQuangCao" asp-action="Sort" asp-route-pagenumber="@i" class="pageNumber">@i</a>
                                            break;
                                        case "search":
                                            <a asp-controller="GoiQuangCao" asp-action="Search" asp-route-pagenumber="@i" class="pageNumber">@i</a>
                                            break;
                                        case "searchandsort":
                                            <a asp-controller="GoiQuangCao" asp-action="SearchAndSort" asp-route-pagenumber="@i" class="pageNumber">@i</a>
                                            break;
                                    }
                                </li>
                            }
                        }
                    }
                    @* Next Button *@
                    @if (ViewBag.TrangHienTai == ViewBag.TongTrang)
                    {
                        @*<li class="paginate_button next disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Tiếp</a></li>*@
                        <li class="paginate_button page-item next" id="dataTable_next">
                            <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Tiếp</a>
                        </li>

                    }
                    else
                    {
                        <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                            @switch (ViewBag.TrangThai)
                            {
                                case "index":
                                    <a asp-controller="GoiQuangCao" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" class="pageNumber">Tiếp</a>
                                    break;
                                case "sort":
                                    <a asp-controller="GoiQuangCao" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" class="pageNumber">Tiếp</a>
                                    break;
                                case "search":
                                    <a asp-controller="GoiQuangCao" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" class="pageNumber">Tiếp</a>
                                    break;
                                case "searchandsort":
                                    <a asp-controller="GoiQuangCao" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" class="pageNumber">Tiếp</a>
                                    break;
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- /.panel-body -->
        <!-------------------------------------------------------- INSERT MODAL ---------------------------------------------------------->

        <div class="modal fade" id="themModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form asp-controller="GoiQuangCao" asp-action="CreateGoiQuangCao" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                            <h4 class="modal-title"><b>Gói Quảng Cáo</b></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Mã</label>
                                <input type="text" class="form-control" id="item-them-ma" name="item_them_ma" required>
                            </div>
                            <div class="form-group">
                                <label>Tên vị trí</label>
                                <select class="form-control" id="item-them-vitriquangcao" name="item_them_vitriquangcao">
                                    @foreach (var item in ViewBag.ViTriQuangcao)
                                    {
                                        <option value="@item.Id">@item.TenViTri</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Thời Lương</label>
                                <input type="number" class="form-control" id="item-them-thoiluong" name="item_them_thoiluong" min="1" required>
                            </div>
                            <div class="form-group">
                                <label>Tổng Tiền </label>
                                <input type="number" class="form-control" id="item-them-tongtien" name="item_them_tongtien" min="0" readonly required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning" id="btnThemTrang">Thêm</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-------------------------------------------------------- UPDATE MODAL ---------------------------------------------------------->
        <div class="modal fade" id="suaModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form asp-controller="GoiQuangCao" asp-action="EditGoiQuangCao" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                            <h4 class="modal-title"><b>Gói Quảng Cáo</b></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Mã</label>
                                <input type="text" class="form-control" id="item-sua-ma" name="item_sua_ma" readonly>
                            </div>
                            <div class="form-group">
                                <label>Tên vị trí</label>
                                <select class="form-control" id="item-sua-vitriquangcao" name="item_sua_vitriquangcao">
                                    @foreach (var item in ViewBag.ViTriQuangcao)
                                    {
                                        <option value="@item.Id">@item.TenViTri</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Thời Lương</label>
                                <input type="number" class="form-control" id="item-sua-thoiluong" name="item_sua_thoiluong" min="1" required>
                            </div>
                            <div class="form-group">
                                <label>Tổng Tiền </label>
                                <input type="number" class="form-control" id="item-sua-tongtien" name="item_sua_tongtien" min="0" readonly required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning">Sửa</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @if (ViewBag.ThongBao != null)
        {
            <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
            </script>
        }


<script>
    function SearchAndSort() {
        let search = "@ViewBag.Search";
        if (search == null || search == '') {
            return $("#sortList").val();
        }
        else {
            let href = $("#sortList").val();
            href = href.replace("Sort", "SearchAndSort");
            href = href + (`&search=${search}`)
            return href;
        }
        $("#item-them-thoiluong").keydown(validateNumber);
        $("#item-sua-thoiluong").keydown(validateNumber);
    }

    function validateNumber(e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl/cmd+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: Ctrl/cmd+C
            (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: Ctrl/cmd+X
            (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    };
        </script>

        <script>
    $(document).ready(function () {
        //Sắp xếp
        let sort = "@ViewBag.Sort";
        if (sort != '') {
            $("#sortList option").each(function () {
                if ($(this).val().includes(sort)) {
                    $(this).attr('selected', 'selected');
                    return;
                }
            });
        }
    });

    $(".btnSuaGoi").click(function () {
        let ma = $(this).closest('tr').find('.item-ma').text();
        let vitriquangcao = $(this).closest('tr').find('.item-vitriquangcao').text();
        let thoiluong = $(this).closest('tr').find('.item-thoiluong').text();
        let tongtien = $(this).closest('tr').find('.item-tongtien').text();


        $("#item-sua-ma").val(ma.trim());
        $("#item-sua-vitriquangcao").val(vitriquangcao.trim());
        $("#item-sua-thoiluong").val(thoiluong.trim());
        $("#item-sua-tongtien").val(tongtien.trim());

    });

    $(".pageNumber").click(function () {
        //Get addtional href
        let sort = $("#sortList").val();
        let search = "@ViewBag.Search";
        //Href
        var $link = $('.pageNumber');
        var href = $link.attr('href').split('/');
        if (sort != null && sort != '') {
            sort = sort.substring(sort.lastIndexOf('=') + 1, sort.length);
            href.push('&sortorder=' + sort); //here you set your new asp-route-pagenumber value
        }
        if (search != null && search != '') {
            href.push('&search=' + search); //here you set your new asp-route-pagenumber value
        }
        href = href.join('/');
        href = href.toString().replace(/\/&/g, '&');
        $link.attr('href', href);
    });

    function GetDonGiaThem(id,thoiluong) {
        $.ajax({
            url: "/Webmaster/GoiQuangCao/GetDonGia",
            type: "get",
            data: { "id": id },
            success: function (data) {
                let tongtien = data*thoiluong;
                $("#item-them-tongtien").val(tongtien);
            },
            error: function (data) {
                alert("Error: " + data);
            }
        });
    }

    function GetDonGiaSua(id,thoiluong) {
        $.ajax({
            url: "/Webmaster/GoiQuangCao/GetDonGia",
            type: "get",
            data: { "id": id },
            success: function (data) {
                let tongtien = data*thoiluong;
                $("#item-sua-tongtien").val(tongtien);
            },
            error: function (data) {
                alert("Error: " + data);
            }
        });
    }

    //tính tổng tiền khi chọn xong thời lượng và vị trí (thêm)
    $("#item-them-thoiluong").change(function () {
        let id = $("#item-them-vitriquangcao").val();
        let thoiluong = $(this).val();
        GetDonGiaThem(id,thoiluong);

    });

    $("#item-them-vitriquangcao").change(function () {
        let id = $(this).val();
        let thoiluong = $("#item-them-thoiluong").val();
        GetDonGiaThem(id,thoiluong);

    });
    //tính tổng tiền khi chọn xong thời lượng và vị trí (thêm)
    $("#item-sua-thoiluong").change(function () {
        let id = $("#item-sua-vitriquangcao").val();
        let thoiluong = $(this).val();
        GetDonGiaSua(id,thoiluong);

    });

    $("#item-sua-vitriquangcao").change(function () {
        let id = $(this).val();
        let thoiluong = $("#item-sua-thoiluong").val();
        GetDonGiaSua(id,thoiluong);

    });
        </script>
