@model Models.Database.SanPham
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (Model != null)
{
    <!--/single_page-->
    <!-- /banner_bottom_agile_info -->
    <div class="page-head_agile_info_w3l">
        <div class="container">
            <h3>Single <span>Page </span></h3>
            <!--/w3_short-->
            <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">

                    <ul class="w3_short">
                        <li><a asp-area="Customer" asp-controller="Home" asp-action="Index">Trang Chủ</a><i>|</i></li>
                        <li>Chi Tiết</li>
                    </ul>
                </div>
            </div>
            <!--//w3_short-->
        </div>
    </div>

    <!-- banner-bootom-w3-agileits -->
    <div class="banner-bootom-w3-agileits">
        <div class="container">
            <div class="col-md-4 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="/Hinh/SanPham/@Model.Hinh">
                                <div class="thumb-image"> <img src="~/Hinh/SanPham/@Model.Hinh" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                            @*<li data-thumb="/Hinh/SanPham/@Model.Hinh">
                                    <div class="thumb-image"> <img src="~/Hinh/SanPham/@Model.Hinh" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                                <li data-thumb="/Hinh/SanPham/@Model.Hinh">
                                    <div class="thumb-image"> <img src="~/Hinh/SanPham/@Model.Hinh" data-imagezoom="true" class="img-responsive"> </div>
                                </li>*@
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 single-right-left simpleCart_shelfItem">
                <h3>@Model.TenSanPham</h3>
                @if (Model.GiamGia != null && Model.GiamGia != 0)
                {
                    double gia = Model.Gia * (100 - Model.GiamGia) / 100 ?? 0;
                    <p><span class="item_price">@gia.ToString("#,###") đ</span> <del>- @Model.Gia.Value.ToString("#,###") đ</del></p>
                }
                else
                {
                    <p><span class="item_price">@Model.Gia.Value.ToString("#,###") đ</span></p>
                }
                @*<div class="rating1">
                        <span class="starRating">
                            <input id="rating5" type="radio" name="rating" value="5">
                            <label for="rating5">5</label>
                            <input id="rating4" type="radio" name="rating" value="4">
                            <label for="rating4">4</label>
                            <input id="rating3" type="radio" name="rating" value="3" checked="">
                            <label for="rating3">3</label>
                            <input id="rating2" type="radio" name="rating" value="2">
                            <label for="rating2">2</label>
                            <input id="rating1" type="radio" name="rating" value="1">
                            <label for="rating1">1</label>
                        </span>
                    </div>*@
                <!--<div class="description">
                    <h5>Check delivery, payment options and charges at your location</h5>
                     <form action="#" method="post">
                    <input type="text" value="Enter pincode" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter pincode';}" required="">
                    <input type="submit" value="Check">
                    </form>
                </div>-->
                <div class="brands-color">
                    <h5>Thương hiệu : @Model.IdHangSanPhamNavigation.TenHang</h5>
                </div>
                <div class="brands-color">
                    <h5>Màu : @Model.Mau</h5>
                </div>
                <div class="brands-color">
                    <h5>Ngày đăng sản phẩm: @Model.NgayDang</h5>
                </div>
                <div class="brands-color">
                    <h5 class="tieude_h5_single">Size :</h5>
                    <select id="sltSizeSanPham" onchange="change_country(this.value)" class="frm-field required sect">
                        @foreach (var item in ViewBag.ListSizeSanPham)
                        {
                            <option value="@item.Id">@item.Size</option>
                        }
                    </select>
                </div>
                <div class="brands-color">
                    <h5 class="tieude_h5_single">Số lượng :</h5>
                    <div class="tang_soluong">
                        <button class="button_tanggiam_sl" id="txtTangSoLuong">
                            <i class="fa fa-plus"></i>
                        </button>
                        <input id="txtSoLuong" class="soluong" type="text" value="1">
                        <button class="button_tanggiam_sl" id="txtGiamSoLuong">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!--<div class="occasional">
                    <h5>Types :</h5>
                    <div class="colr ert">
                        <label class="radio"><input type="radio" name="radio" checked=""><i></i>Casual Shoes</label>
                    </div>
                    <div class="colr">
                        <label class="radio"><input type="radio" name="radio"><i></i>Sneakers </label>
                    </div>
                    <div class="colr">
                        <label class="radio"><input type="radio" name="radio"><i></i>Formal Shoes</label>
                    </div>
                    <div class="clearfix"> </div>
                </div>-->
                <div class="occasion-cart">
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="business" value=" ">
                                <input type="hidden" name="item_name" value="Wing Sneakers">
                                <input type="hidden" name="amount" value="650.00">
                                <input type="hidden" name="discount_amount" value="1.00">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="return" value=" ">
                                <input type="hidden" name="cancel_return" value=" ">
                                <input type="button" name="submit" id="btnThemVaoGioHang" value="Thêm vào giỏ hàng" class="button">
                            </fieldset>
                        </form>
                    </div>

                </div>
                @*<ul class="social-nav model-3d-0 footer-social w3_agile_social single_page_w3ls">
                        <li class="share">Chia sẻ trên : </li>
                        <li>
                            <a href="#" class="facebook">
                                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                        </li>
                    </ul>*@

            </div>
            <div class="clearfix"> </div>
            <!-- /new_arrivals -->
            <div class="responsive_tabs_agileits">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li>Mô tả</li>
                        <li>Đánh giá</li>
                        <li>Người bán hàng</li>
                    </ul>
                    <div class="resp-tabs-container">
                        <!--/tab_one-->
                        <div class="tab1">
                            <div class="single_page_agile_its_w3ls">
                                <h6>@Model.TenSanPham</h6>
                                <p>@Model.ChiTiet</p>
                            </div>
                        </div>
                        <!--//tab_one-->
                        <div class="tab2">

                            <div class="single_page_agile_its_w3ls">
                                <div class="bootstrap-tab-text-grids">
                                    <div class="bootstrap-tab-text-grid">
                                        <div class="bootstrap-tab-text-grid-left">
                                            <img src="images/t1.jpg" alt=" " class="img-responsive">
                                        </div>
                                        <div class="bootstrap-tab-text-grid-right">
                                            <ul>
                                                <li><a href="#">Admin</a></li>
                                                <li><a href="#"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a></li>
                                            </ul>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                                suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                                                vel eum iure reprehenderit.
                                            </p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="add-review">
                                        <h4>add a review</h4>
                                        <form action="#" method="post">
                                            <input type="text" name="Name" required="">
                                            <input type="email" name="Email" required="">
                                            <textarea name="Message" required=""></textarea>
                                            <input type="submit" value="SEND">
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Tab three -->
                        <div class="tab3">
                            <div class="single_page_agile_its_w3ls">
                                <div class="icon_nguoibanhang">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <div class="tenshop">
                                    <h6>@Model.IdTaiKhoanNavigation.TenShop</h6>
                                    <input type="submit" value="Xem Shop">
                                </div>
                                <div class="clearfix"></div>
                                <p class="w3ls_para"><span style="color: #666666;">Địa chỉ :</span> @Model.IdTaiKhoanNavigation.DiaChi</p>
                                <p class="w3ls_para"><span style="color: #666666;">Đánh giá :</span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //new_arrivals -->
            <!--/slider_owl-->

            <div class="w3_agile_latest_arrivals">
                <h3 class="wthree_text_info">Featured <span>Arrivals</span></h3>
                <div class="col-md-3 product-men single">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="images/w2.jpg" alt="" class="pro-image-front">
                            <img src="images/w2.jpg" alt="" class="pro-image-back">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="single.html">Sleeveless Solid Blue Top</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">$140.99</span>
                                <del>$189.71</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Sleeveless Solid Blue Top">
                                        <input type="hidden" name="amount" value="30.99">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button">
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-men single">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="images/w4.jpg" alt="" class="pro-image-front">
                            <img src="images/w4.jpg" alt="" class="pro-image-back">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="single.html">Black Basic Shorts</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">$120.99</span>
                                <del>$189.71</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Black Basic Shorts">
                                        <input type="hidden" name="amount" value="30.99">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button">
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-men single">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="images/s6.jpg" alt="" class="pro-image-front">
                            <img src="images/s6.jpg" alt="" class="pro-image-back">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="single.html">Aero Canvas Loafers  </a></h4>
                            <div class="info-product-price">
                                <span class="item_price">$120.99</span>
                                <del>$199.71</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Aero Canvas Loafers">
                                        <input type="hidden" name="amount" value="30.99">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button">
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-men single">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="images/w7.jpg" alt="" class="pro-image-front">
                            <img src="images/w7.jpg" alt="" class="pro-image-back">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="single.html">Ankle Length Socks</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">$100.99</span>
                                <del>$159.71</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Ankle Length Socks">
                                        <input type="hidden" name="amount" value="30.99">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Thêm vào giỏ hàng" class="button">
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <!--//slider_owl-->
            </div>
        </div>
    </div>
    <!--//single_page-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function GetCart() {
            return JSON.parse(localStorage.getItem("Cart"));
        }

        function validateNumber(e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl/cmd+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+C
                (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: Ctrl/cmd+X
                (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        };
    </script>
    <script>
    $("#txtSoLuong").keydown(validateNumber);

    $("#txtSoLuong").change(function(){
        let val = $(this).val();
        if (val < 0)
            $("#txtSoLuong").val(0);
    });

    $("#txtSoLuong").keyup(function () {
        let val = $(this).val();
        if (val < 0)
            $("#txtSoLuong").val(0);
    });

    $("#txtTangSoLuong").click(function () {
        let value = $("#txtSoLuong").val();
        value = parseInt(value) + 1;

        $("#txtSoLuong").val(value);
    });

    $("#txtGiamSoLuong").click(function () {
        let value = $("#txtSoLuong").val();
        value = parseInt(value) - 1;

        $("#txtSoLuong").val(value);
    });

    $("#btnThemVaoGioHang").click(function () {
        let tendangnhap = "@Context.Session.GetString("TenDangNhap")";
        let idsizesanpham = $("#sltSizeSanPham option:selected").val().trim();
        let soluong = parseInt($("#txtSoLuong").val());
        let arrCartItem = {};

        if (tendangnhap == "") {
            //Lấy list
            arrCartItem = GetCart();
            if (arrCartItem == null) {
                arrCartItem = new Object();
            }
            //Nếu tồn tại
            if (arrCartItem[idsizesanpham]) {
                let soluongcu = arrCartItem[idsizesanpham];
                arrCartItem[idsizesanpham] = parseInt(soluongcu) + soluong;
            }
            else {
                arrCartItem[idsizesanpham] = soluong;
            }
            //Add to storage
            localStorage.setItem("Cart", JSON.stringify(arrCartItem));
            alert("Thêm vào giỏ hàng thành công");
            $('#local-storage').val(localStorage.getItem("Cart"));
        }
        else {
            $.ajax({
                url: "/Customer/TaiKhoan/AddToCart",
                type: "post",
                data: { "idsizesanpham": idsizesanpham, "soluong": soluong },
                success: function (data) {
                    alert(data);
                },
                error: function (data) {
                    alert("Error: " + data);
                }
            });
        }
    });
    </script>
}