@model IEnumerable<Models.Database.DiaChi>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="form-group">
    <label>Tên đăng nhập</label>
    <input type="text" class="form-control" id="diachi-tendangnhap" name="tendangnhap" value="@ViewBag.TenDangNhap" readonly>
</div>

<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <tbody class="body-content">
        @foreach (var item in Model)
        {
            <tr class="odd gradeX">
                <td class="item-diachi">@item.Duong</td>
                <td class="item-tinhthanh">@item.IdTinhThanhNavigation.TenTinhThanh</td>
                <td>
                    @if (item.TinhTrang == "Không khoá")
                    {
                        <button class="btn btn-primary btnSuaDiaChi" type="button" data-toggle="modal" data-target="#suadiachiModal">Sửa</button>
                        <a asp-controller="TaiKhoan" asp-action="LockDiaChi" asp-route-id="@item.Id" class="btn btn-danger">Khoá</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger" disabled>Đã khoá</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="collapseThemDiaChi" class="collapse">
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" class="form-control" name="diachi" required>
    </div>
    <div class="form-group">
        <label>Tỉnh thành</label>
        <select class="form-control" id="listTinhThanh" name="tinhthanh">
            @foreach (var item in ViewBag.TinhThanh)
            {
                <option value="@item.Id">@item.TenTinhThanh</option>
            }
        </select>
    </div>
</div>

<script>
    $(".btnSuaDiaChi").click(function () {
        let tendangnhap = $("#diachi-tendangnhap").val();
        let diachi = $(this).closest('tr').find('.item-diachi').text();

        $.ajax({
            url: "/Webmaster/TaiKhoan/GetThongTinDiaChi",
            type: "get",
            data: { "tendangnhap": tendangnhap, "diachi": diachi },
            success: function (data) {
                $("#suadiachiModal-body").html(data);
            },
            error: function (data) {
                alert("Error: " + data);
            }
        });
    });
</script>