@model IEnumerable<Models.Database.TaiKhoan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead class="thead-dark">
            <tr>
                <th>Tên đăng nhập</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>CMND</th>
                <th>Loại người dùng</th>
                <th>Ngày tạo</th>
                <th>Đánh giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr class="odd gradeX">
                <td>@item.TenDangNhap</td>
                <td>@item.Ten</td>
                <td>@item.Email</td>
                <td>@item.DienThoai</td>
                <td>@item.Cmnd</td>
                <td>@item.IdLoaiNguoiDung</td>
                <td>@item.NgayTao</td>
                <td>@item.DanhGia</td>
            </tr>
            }
        </tbody>
    </table>
    <!-- /.table-responsive -->
</div>
<!-- /.panel-body -->