@model Models.Database.DiaChi

<div class="form-group">
    <label>Id</label>
    <input type="text" class="form-control" id="suadiachi-id" name="id" value="@Model.Id" readonly>
</div>
<div class="form-group">
    <label>Địa chỉ</label>
    <input type="text" class="form-control" id="suadiachi-diachi" name="diachi" value="@Model.Duong" required>
</div>
<div class="form-group">
    <label>Tỉnh thành</label>
    <select class="form-control" id="suadiachi-tinhthanh" name="tinhthanh" required>
        @foreach (var item in ViewBag.TinhThanh)
        {
            @if (item.Id == Model.IdTinhThanh)
            {
                <option value="@item.Id" selected>@item.TenTinhThanh</option>
            }
            else
            {
                <option value="@item.Id">@item.TenTinhThanh</option>
            }
        }
    </select>
</div>