@model IEnumerable<Models.Database.TrangQuangCao>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 class="page-header">DANH SÁCH TRANG QUẢNG CÁO</h1>
<hr>

<div class="panel panel-default">
    <div class="panel-body">
        <!-- Search form -->
        <div class="row">
            <!-------------------------------------------------------- INSERT ---------------------------------------------------------->
            <div class="col-lg-1">
                <button class="btn btn-primary" data-toggle="modal" data-target="#themModal">Thêm</button>
            </div>
            <!-------------------------------------------------------- SEARCH CATEGORY ---------------------------------------------------------->
            <div class="col-lg-2">
                <div class="form-group">
                    <select class="form-control" id="sortList" onchange="window.location.href = SearchAndSort()">
                        <option selected disabled>Sắp xếp theo</option>
                        <option value="/Webmaster/TrangQuangCao/Sort?sortorder=tentrang-az">Tên trang (A-Z)</option>
                        <option value="/Webmaster/TrangQuangCao/Sort?sortorder=tentrang-za">Tên trang (Z-A)</option>
                    </select>
                </div>
            </div>
            <!-------------------------------------------------------- SEARCH BAR ---------------------------------------------------------->
            <div class="col-lg-3">
                <form asp-controller="TrangQuangCao" asp-action="Search" method="get">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" id="searchList" placeholder="Tìm kiếm..." name="search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                </form>
            </div>

            <!-------------------------------------------------------- MAIN TABLE ---------------------------------------------------------->
        </div>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead class="thead-dark">
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Chú Thích</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody class="body-content">
                @foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td class="item-ma">@item.MaTrang</td>
                        <td class="item-ten">@item.TenTrang</td>
                        <td class="item-chuthich">@item.ChuThich</td>
                        <td>
                            @if (item.TinhTrang == "Không khoá")
                            {
                                <button class="btn btn-primary btnSuaTrang" type="button" data-toggle="modal" data-target="#suaModal">Sửa</button>

                                <a asp-controller="TrangQuangCao" asp-action="LockTrangQuangCao" asp-route-matrang="@item.MaTrang" class="btn btn-danger">Khoá</a>
                            }
                            else
                            {
                                <button class="btn btn-primary  btnSuaTrang" type="button" data-toggle="modal" data-target="#suaModal" disabled>Sửa</button>

                                <a asp-controller="TrangQuangCao" asp-action="UnlockTrangQuangCao" asp-route-matrang="@item.MaTrang" class="btn btn-danger">Mở khoá</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- /.table-responsive -->
        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination" style="margin: 0 auto;">
                    @if (ViewBag.TrangHienTai == 1)
                    {
                        <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                            <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Trước</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button page-item previous" id="dataTable_previous">
                            @switch (ViewBag.TrangThai)
                            {
                                case "index":
                                    <a asp-controller="TrangQuangCao" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link pageNumber">Trước</a>
                                    break;
                                case "sort":
                                    <a asp-controller="TrangQuangCao" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link pageNumber">Trước</a>
                                    break;
                                case "search":
                                    <a asp-controller="TrangQuangCao" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link pageNumber">Trước</a>
                                    break;
                                case "searchandsort":
                                    <a asp-controller="TrangQuangCao" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai - 1)" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link pageNumber">Trước</a>
                                    break;
                            }
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.TongTrang; i++)
                    {
                        if (i > 5)
                        {
                            <li class="paginate_button page-item" disabled><a class="page-link" aria-controls="dataTable" data-dt-idx="0" tabindex="0" href="#">...</a></li>
                            <li class="paginate_button page-item">
                                @switch (ViewBag.TrangThai)
                                {
                                    case "index":
                                        <a asp-controller="TrangQuangCao" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                        break;
                                    case "sort":
                                        <a asp-controller="TrangQuangCao" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                        break;
                                    case "search":
                                        <a asp-controller="TrangQuangCao" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                        break;
                                    case "searchandsort":
                                        <a asp-controller="TrangQuangCao" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TongTrang)" class="pageNumber">@ViewBag.TongTrang</a>
                                        break;
                                }
                            </li>
                            break;
                        }
                        else
                        {
                            if (i == ViewBag.TrangHienTai)
                            {
                                <li class="paginate_button page-item active"><a href="#" class="page-link" aria-controls="dataTable" data-dt-idx="2" tabindex="0">@i</a></li>
                            }
                            else
                            {
                                <li class="paginate_button page-item" aria-controls="dataTables-example" tabindex="0">
                                    @switch (ViewBag.TrangThai)
                                    {
                                        case "index":
                                            <a asp-controller="TrangQuangCao" asp-action="Index" asp-route-pagenumber="@i" class="page-link pageNumber" aria-controls="dataTable" data-dt-idx="3" tabindex="0">@i</a>
                                            break;
                                        case "sort":
                                            <a asp-controller="TrangQuangCao" asp-action="Sort" asp-route-pagenumber="@i" class="page-link pageNumber" aria-controls="dataTable" data-dt-idx="3" tabindex="0">@i</a>
                                            break;
                                        case "search":
                                            <a asp-controller="TrangQuangCao" asp-action="Search" asp-route-pagenumber="@i" class="page-link pageNumber" aria-controls="dataTable" data-dt-idx="3" tabindex="0">@i</a>
                                            break;
                                        case "searchandsort":
                                            <a asp-controller="TrangQuangCao" asp-action="SearchAndSort" asp-route-pagenumber="@i" class="page-link pageNumber" aria-controls="dataTable" data-dt-idx="3" tabindex="0">@i</a>
                                            break;
                                    }
                                </li>
                            }
                        }
                    }
                    @if (ViewBag.TrangHienTai == ViewBag.TongTrang)
                    {
                        <li class="paginate_button page-item next disabled" id="dataTable_next"><a class="page-link" aria-controls="dataTable" data-dt-idx="7" tabindex="0" href="#">Tiếp</a></li>
                    }
                    else
                    {
                        <li class="paginate_button page-item next" id="dataTable_next">
                            @switch (ViewBag.TrangThai)
                            {
                                case "index":
                                    <a asp-controller="TrangQuangCao" asp-action="Index" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link pageNumber">Tiếp</a>
                                    break;
                                case "sort":
                                    <a asp-controller="TrangQuangCao" asp-action="Sort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link pageNumber">Tiếp</a>
                                    break;
                                case "search":
                                    <a asp-controller="TrangQuangCao" asp-action="Search" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link pageNumber">Tiếp</a>
                                    break;
                                case "searchandsort":
                                    <a asp-controller="TrangQuangCao" asp-action="SearchAndSort" asp-route-pagenumber="@Html.Raw(ViewBag.TrangHienTai + 1)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link pageNumber">Tiếp</a>
                                    break;
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- /.panel-body -->
        <!-------------------------------------------------------- INSERT MODAL ---------------------------------------------------------->

        <div class="modal fade" id="themModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form asp-controller="TrangQuangCao" asp-action="CreateTrangQuangCao" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                            <h4 class="modal-title"><b>Trang Quảng Cáo</b></h4>
                        </div>
                        <div class="modal-body">
                            <p id="them_thongbao_ma" style="color: red;"></p>
                            <div class="form-group">
                                <label>Mã</label>
                                <input type="text" class="form-control" id="item_them_ma" name="item_them_ma" required>
                            </div>
                            <p id="them_thongbao_ten" style="color: red;"></p>
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" class="form-control" id="item_them_ten" name="item_them_ten" required>
                            </div>
                            <div class="form-group">
                                <label>Chú Thích</label>
                                <input type="text" class="form-control" id="item_them_chuthich" name="item_them_chuthich">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning" id="btnThemModal" disabled>Thêm</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-------------------------------------------------------- UPDATE MODAL ---------------------------------------------------------->
        <div class="modal fade" id="suaModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <form asp-controller="TrangQuangCao" asp-action="EditTrangQuangCao" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                            <h4 class="modal-title"><b>Trang Quảng Cáo</b></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Mã</label>
                                <input type="text" class="form-control" id="item_sua_ma" name="item_sua_ma" readonly>
                            </div>
                            <p id="sua_thongbao_ten" style="color: red;"></p>
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" class="form-control" id="item_sua_ten" name="item_sua_ten">
                            </div>
                            <div class="form-group">
                                <label>Chú Thích</label>
                                <input type="text" class="form-control" id="item_sua_chuthich" name="item_sua_chuthich">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning" id="btnSuaModal">Sửa</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @if (ViewBag.ThongBao != null)
        {
            <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
            </script>
        }


        <script>
    function SearchAndSort() {
        let search = "@ViewBag.Search";
        if (search == null || search == '') {
            return $("#sortList").val();
        }
        else {
            let href = $("#sortList").val();
            href = href.replace("Sort", "SearchAndSort");
            href = href + (`&search=${search}`)
            return href;
        }
    }

    function validateNumber(e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl/cmd+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: Ctrl/cmd+C
            (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: Ctrl/cmd+X
            (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    };
        </script>

        <script>
    $(document).ready(function () {
        //Sắp xếp
        let sort = "@ViewBag.Sort";
        if (sort != '') {
            $("#sortList option").each(function () {
                if ($(this).val().includes(sort)) {
                    $(this).attr('selected', 'selected');
                    return;
                }
            });
        }
    });
let tenbandau;
    $(".btnSuaTrang").click(function () {
        let ma = $(this).closest('tr').find('.item-ma').text();
        let ten = $(this).closest('tr').find('.item-ten').text();
        let chuthich = $(this).closest('tr').find('.item-chuthich').text();
        tenbandau = ten;

        $("#item_sua_ma").val(ma.trim());
        $("#item_sua_ten").val(ten.trim());
        $("#item_sua_chuthich").val(chuthich.trim());

    });

    $(".pageNumber").click(function () {
        //Get addtional href
        let sort = $("#sortList").val();
        let search = "@ViewBag.Search";
        //Href
        var $link = $('.pageNumber');
        var href = $link.attr('href').split('/');
        if (sort != null && sort != '') {
            sort = sort.substring(sort.lastIndexOf('=') + 1, sort.length);
            href.push('&sortorder=' + sort); //here you set your new asp-route-pagenumber value
        }
        if (search != null && search != '') {
            href.push('&search=' + search); //here you set your new asp-route-pagenumber value
        }
        href = href.join('/');
        href = href.toString().replace(/\/&/g, '&');
        $link.attr('href', href);
    });
            function checkma(ma) {

                $.ajax({
                    url: "/Webmaster/TrangQuangCao/CheckMa",
                    type: "post",
                    data: { "ma": ma },

                    success: function (data) {
                        if (data == null) {
                            $(`#them_thongbao_ma`).text("");
                            $("#btnThemModal").attr('disabled', false);
                        }
                        else {
                            $("#btnThemModal").attr('disabled', true);
                            $(`#them_thongbao_ma`).text("Mã đã tồn tại");
                            
                        }

                    },


                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            }
            $("#item_them_ma").change(function () {
                var ma = document.getElementById("item_them_ma").value;
                
                checkma(ma);
                
            });
             $("#item_them_ten").change(function () {
              
                var ten =document.getElementById("item_them_ten").value;
                
                checkten(ten);
            });
            function checkten(ten) {

                $.ajax({
                    url: "/Webmaster/TrangQuangCao/CheckTen",
                    type: "post",
                    data: { "ten": ten },

                    success: function (data) {
                        if (data == null) {
                            $(`#them_thongbao_ten`).text("");
                            $("#btnThemModal").attr('disabled', false);
                        }
                        else {
                            $("#btnThemModal").attr('disabled', true);
                            $(`#them_thongbao_ten`).text("Tên đã tồn tại");
                            
                        }

                    },


                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            }
            function checktensua(ten) {

                $.ajax({
                    url: "/Webmaster/TrangQuangCao/CheckTen",
                    type: "post",
                    data: { "ten": ten },

                    success: function (data) {
                        if (data == null) {
                            $(`#sua_thongbao_ten`).text("");
                            $("#btnSuaModal").attr('disabled', false);
                        }
                        else {
                            $("#btnSuaModal").attr('disabled', true);
                            $(`#sua_thongbao_ten`).text("Tên đã tồn tại");
                            
                        }

                    },


                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            }
             $("#item_sua_ten").change(function () {
                var ten = document.getElementById("item_sua_ten").value;
                if(tenbandau!=ten)
                checktensua(ten);
                else 
                {
            $(`#sua_thongbao_ten`).text("");
                            $("#btnSuaModal").attr('disabled', false);
            }

            });
           
           
        </script>
